[submodule "src/test/resources/VexRiscvRegressionData"]
	path = src/test/resources/VexRiscvRegressionData
	url = ../VexRiscvRegressionData.git
[submodule "ext/SpinalHDL-HardFloat"]
	path = ext/SpinalHDL-HardFloat
	url = https://github.com/bellaz89/SpinalHDL-HardFloat
